RZP_TEST_KEY=
RZP_TEST_SECRET=
RZP_LIVE_KEY=
RZP_LIVE_SECRET=
AIRTABLE_KEY=
AIRTABLE_BASE_ID=
AIRTABLE__DONATIONS_TABLE_NAME=Donations
AIRTABLE__CAMPAIGN_TABLE_NAME=Campaigns
AIRTABLE__FUNDING_TABLE_NAME=Funding